.el-menu {
  background: none;
  border-right: none;
}

.el-menu-item, .el-sub-menu__title {
  color: var(--app-text-color);
}

.el-menu-item:hover, .el-sub-menu__title:hover {
 background-color: var(--app-bg-color-light);
}
