.el-input {
  --el-input-text-color: var(--app-text-color-light);
  --el-input-bg-color: none;
}

.el-input-group__append, .el-input-group__prepend {
  background: none;
}

.el-input__inner::placeholder {
  color: var(--app-text-color-dark);
}
