:root {
  --app-bg-color: #171a21;
  --app-bg-color-light: #272c37;
  --app-text-color: #a6afc6;
  --app-text-color-black: #000;
  --app-text-color-dark: #828ea1;
  --app-text-color-light: #CCC;
  --app-text-color-white: #FFF;
  --app-border-color: #293448;
  --app-border-color-light: #dcdfe6;
}

html, body, #app {
  height: 100%;
  font-size: 15px;
  background: var(--app-bg-color);
  color: var(--app-text-color);
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll; //这是为了兼容ie8，不支持:root, vw。这个可以删掉
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
}
