@charset "UTF-8";
:root {
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-color-primary: #D8BE33;
  --el-color-primary-light-1: #53a8ff;
  --el-color-primary-light-2: #66b1ff;
  --el-color-primary-light-3: #79bbff;
  --el-color-primary-light-4: #8cc5ff;
  --el-color-primary-light-5: #a0cfff;
  --el-color-primary-light-6: #b3d8ff;
  --el-color-primary-light-7: #c6e2ff;
  --el-color-primary-light-8: #d9ecff;
  --el-color-primary-light-9: #ecf5ff;
}

.el-card {
  --el-card-bg-color: rgba(30, 36, 50, .7);
  --el-card-border-color: var(--app-border-color);
}

.el-card {
  color: var(--app-text-color-dark);
}
